# Arquivos de Segredo e Ambiente
.env
.env.*

# Dependências (devem ser instaladas em cada máquina/container)
node_modules/

# Pastas de build
build/
dist/

# Arquivos do Jeferson (Python)
__pycache__/
*.pyc
.venv/
venv/

# Arquivos de Log
*.log
npm-debug.log*

# Arquivos do SO
.DS_Store
Thumbs.db